@font-face{
    font-family: MontSerrat1;
    src: url(../fonts/static/Montserrat-Regular.ttf);
}

.img_fundo{
    width: 100%;
    height: 600px;
    background-image: url(../imagens/fundo_section1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tornar_cliente{
    position: relative;
    width: 360px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(3, 76, 140, 0.95);
    float: left;
    top: 280px;
    left: 70px;
}

.tornar_cliente h1{
    position: relative;
    font-family: MontSerrat1;
    color: white;
    text-align: left;
    left: 30px;
    top: 20px;
}

.tornar_cliente input{
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px black solid;
    font-family: MontSerrat1;
    color: white;
    font-size: 22px;
    left: 30px;
    top: 30px;
}

.continuar{
    position: relative;
    width: 180px;
    height: 40px;
    font-family: MontSerrat1;
    font-size: 20px;
    color: white;
    background-color: #4F4F4F;
    border: none;
    border-radius: 30px;
    left: 30px;
    top: 45px;
    cursor: pointer;
    float: left;
}

.continuar img{
    position: relative;
    float: right;
    right: 5px;
    top: 4px;
}

.continuar:hover{
    transform: scale(1.1) ;
    transition: ease-in, ease-out;
    transition:  all 1.5s;
}

.solucoes{
    position: relative;
    width: 400px;
    height: 100px;
    text-align: center;
    color: #FFF;
    font-family: MontSerrat1;
    border-radius: 20px;
    background-color: rgba(3, 76, 140, 0.95);
    top: 300px;
    right: 30px;
    float: right;
}

.solucoes h1{
    position: relative;
    top: 20px;
}